onlinemongo/onlinemongo
.idea
blueprint_example/venv
celery_ex/__pycache__
celery_ex/venv
blueprint_example/.idea
docker/dockerenv
FlaskMaster/venv
FlaskMaster/.idea
flasky/.idea
flasky/venv
flasky/.gitignore
jinjapro/__pycache__
jinjapro/.idea
jinjapro/venv
mailpro/venv
pro2/__pycache__
pro2/.idea
pro2/pro2env
pytestpro/__pycache__
pytestpro/.idea
pytestpro/.pytest_cache
pytestpro/venv
pythonflaskredicelerydocker/venv
